<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Links</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Game Links</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/index}">User page (Security protected, Need User Role)</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>